# Prerequisites
*.d

# Back up files
*.bak

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Project directories
.metadata/
homework/
documentation/
.externalFiles/
outgoing
project/.settings/*
reading_material/
project/GNU ARM v4.9.3 - Default/
projectbgm121/GNU ARM v4.9.3 - Default/
soc-empty/GNU ARM v4.9.3 - Default/
project/BgBuild_Log.txt
dfuapplication/
soc-btmesh-light/
soc-btmesh-switch/

# VIM swp files
*.sw*

# VIM Plugin files
compile_commands.json
*/tags
*/*.taghl

# Simplicity Binaries
*.axf
*.bin
*.ld
*.s37

*.pyc
